.header-button-active {
  background-color: #1f1c1c;
  border: none;
  border-radius: 100%;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 170px;
}

.header-button-inactive {
  background-color: silver;
  border: none;
  border-radius: 100%;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 150px;
}
